body {
    background-color: #FFC1CC;
    font-family: 'Lora', serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: auto; /* Permite el desplazamiento si es necesario, pero oculta la barra de desplazamiento */
}

body::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores WebKit como Chrome y Safari */
}
/* Estilos sections*/
.section {
    text-align: center;
    height: 100vh;
    padding: 10px 50px 0 50px;
    position: relative;
}

.button{
    display: none;
    background: none;
    border: 0;
}
.button2{
    display: none;
    background: none;
    border: 0;
}

.header {
    text-align: center;
}

.index, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    color: #FFFFFF;
}

.photo-frame, .photo-frame-2, .photo-frame-3 {
    display: inline-block;
    border: 10px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 20px 20px 20px;
    position: relative;
    overflow: hidden;
}

.photo-frame-2{
    margin: 0;
}

.photo-frame-3{
    margin: 0;
}
.photo-frame::before {
    content: "❤️";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #FF6F61;
}

.photo-frame-2::before {
    content: "Claveles pa mi reina";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #f90009;
}

.photo-frame-3::before {
    content: "Ahora unas rosas";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #f90009;
}
.photo-frame img, .photo-frame-2 img, .photo-frame-3 img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.photo-frame-small img{
    max-width: 100%;

    width: 100%;
    margin: 35px 0 0 0;
    border: solid 7px #828282;
    border-radius: 10px;
}

.photo-frame-small .img5 {
    margin: 0;
}
.styled-list {
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #333;
    margin: 50px auto;
    padding: 0;
    list-style-position: inside;
    max-width: 600px;
}

.styled-list li {
    background-color: #FFFFFF;
    border: 2px solid #FF6F61;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.styled-list li:hover {
    background-color: #f90009;
    color: #FFFFFF;
}


/*RESPONSIVE*/

@media only screen and (max-width: 1080px) {
    /* Styles for small screens */
    .index{
        font-size: 2rem;
    }

    .footer{
        font-size: 1.5rem;
    }
    .button{
        position: absolute;
        top: 34rem;
        right: 0.1rem;
        display: block;
        width: 100%;
        height: 20%;
        background-color: red;
        opacity: 0;
    }

    .button2{
        position: absolute;
        top: 0;
        right: 0.1rem;
        display: block;
        width: 100%;
        height: 20%;
        background-color: red;
        opacity: 0;
    }
        right

    .parrafo{
        font-size: 1.1rem;
    }

    .parrafo-final{
        font-size: 0.9rem;
    }
}

