body {
    background-color: #FFC1CC;
    font-family: 'Lora', serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: auto; /* Permite el desplazamiento si es necesario, pero oculta la barra de desplazamiento */
}

body::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores WebKit como Chrome y Safari */
}
/* Estilos sections*/
.section {
    text-align: center;
    height: 100vh;
    padding: 10px 50px 0 50px;
    position: relative;
}

.button{
    display: none;
    background: none;
    border: 0;
}

.header {
    text-align: center;
}

.index{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    color: #FFFFFF;
}

.photo-frame {
    display: inline-block;
    border: 10px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 20px 20px 20px;
    position: relative;
    overflow: hidden;
}
.photo-frame::before {
    content: "❤️";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #FF6F61;
}
.photo-frame img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.photo-frame-small img{
    max-width: 100%;

    width: 100%;
    margin: 35px 0 0 0;
    border: solid 7px #828282;
    border-radius: 10px;
}


/*RESPONSIVE*/

@media only screen and (max-width: 1080px) {
    /* Styles for small screens */
    .index{
        font-size: 2rem;
    }

    .button{
        position: absolute;
        top: -5rem;
        right: 1rem;
        display: block;
    }

    .button2{
        right: 18rem;
    }

    .parrafo{
        font-size: 1.1rem;
    }
}

